#### Fundamentos de python
* variables
* Operadores matemáticos
* Operadores lógicos
* Operadores de comparación
* estructuras de control
    - Condicionales
    - Ciclo finito: for
    - ciclo infinito: while
    - funciones
* estructuras de datos
    - cadenas de caracteres: string
    - número enteros
    - números decimales
    - listas
    - diccionarios
    - tuplas

In [1]:
print("epale mundo 2")

epale mundo 2

In [7]:
# Variables
name = "Juan"
Name = "Pedro"
last_name = "Perez"

In [ ]:
# mala practica
Last_Name = "Gomez"

In [ ]:
# mala practica
LastName = "Gomez"

In [ ]:
last_name = "Gomez"

In [ ]:
qwert = "primero"

In [15]:
NAME = "Juan"
name = "Pedro"

In [17]:
# operadores matemáticos
number_1 = 10
number_2 = 5

In [18]:
# suma
result = number_1 + number_2

In [19]:
print(result)

15

In [20]:
# resta
result_sub = number_1 - number_2

In [21]:
# multiplicación
result_mult = number_1 * number_2

# división  
result_div = number_1 / number_2

In [22]:
print(result_sub)

5

In [23]:
type(result_sub)

int

In [24]:
type(last_name)

str

In [25]:
last_name

'Gomez'

In [26]:
print(last_name)

Gomez

In [27]:
4+4

8

In [28]:
# operadores de comparación
# == igual
# != diferente
# > mayor que
# < menor que
# >= mayor o igual que
# <= menor o igual que

In [29]:
# operadores booleanos
# True
# False

In [30]:
# ejemplos
4 == 4

True

In [31]:
number_1 == number_2

False

In [32]:
number_1 > number_2

True

In [33]:
number_1 <= number_2

False

In [ ]:
# condicionales
if (number_1 > number_2):
    print("number_1 es mayor que number_2")

number_1 es mayor que number_2

In [38]:
# condicionales
if (number_1 > number_2)
    print("number_1 es mayor que number_2")

SyntaxError: expected ':' (3443506882.py, line 2)

In [39]:
# condicionales
if (number_1 > number_2):
print("number_1 es mayor que number_2")

IndentationError: expected an indented block after 'if' statement on line 2 (2570700219.py, line 3)

In [41]:
# condicionales
if (number_1 < number_2):
    print("number_1 es mayor que number_2")
else:
    print("number_1 es menor que number_2")

number_1 es menor que number_2

In [42]:
# condicionales
if (number_1 < number_2):
    print("number_1 es mayor que number_2")
    else:
    print("number_1 es menor que number_2")

SyntaxError: invalid syntax (640260859.py, line 4)

In [46]:
# condicionales
if (number_1 < number_2):
    print("number_1 es mayor que number_2")
  else:
    print("number_1 es menor que number_2")

IndentationError: unindent does not match any outer indentation level (<string>, line 4)

In [50]:
# condicionales
number_1 = 20
number_2 = 20

if (number_1 > number_2):
    print("number_1 es mayor que number_2")
elif number_1 < number_2:
    print("number_1 es menor que number_2")
else:
    print(" los números son iguales")

 los números son iguales

In [51]:
# condicionales anidados
number_1 = 20
number_2 = 10

if (number_1 > number_2):
    if number_1 > 10:
        print("number_1 es mayor que number_2 y mayor que 10")
elif number_1 < number_2:
    print("number_1 es menor que number_2")
else:
    print(" los números son iguales")

number_1 es mayor que number_2 y mayor que 10

In [53]:
# operadores lógicos
# and
# or
# not
# condicionales anidados
number_1 = 20
number_2 = 5

if (number_1 > number_2) and (number_1 > 10):
    print("number_1 es mayor que number_2 y mayor que 10")
elif number_1 < number_2:
    print("number_1 es menor que number_2")
else:
    print(" los números son iguales")

number_1 es mayor que number_2 y mayor que 10

In [55]:
# operadores lógicos
# and
# or
# not
# condicionales anidados
number_1 = 20
number_2 = 5

if (number_1 > number_2) and (number_1 > 10):
    print(f'"{number_1}" es mayor que "{number_2}" y mayor que 10')
elif number_1 < number_2:
    print("number_1 es menor que number_2")
else:
    print(" los números son iguales")

"20" es mayor que "5" y mayor que 10

In [57]:
# Solicitar las elecciones de los dos jugadores
jugador1 = input("Jugador 1, elige piedra, papel o tijera: ").lower()
jugador2 = input("Jugador 2, elige piedra, papel o tijera: ").lower()

# Verificar las elecciones y determinar el resultado
if jugador1 == jugador2:
    print("¡Es un empate!")
elif jugador1 == "piedra":
    if jugador2 == "tijera":
        print("¡Jugador 1 gana! Piedra gana a tijera.")
    else:
        print("¡Jugador 2 gana! Papel gana a piedra.")
elif jugador1 == "papel":
    if jugador2 == "piedra":
        print("¡Jugador 1 gana! Papel gana a piedra.")
    else:
        print("¡Jugador 2 gana! Tijera gana a papel.")
elif jugador1 == "tijera":
    if jugador2 == "papel":
        print("¡Jugador 1 gana! Tijera gana a papel.")
    else:
        print("¡Jugador 2 gana! Piedra gana a tijera.")
else:
    print("Elección no válida. Asegúrate de escribir 'piedra', 'papel' o 'tijera'.")

¡Jugador 1 gana! Papel gana a piedra.

### Estructuras de datos básicas

In [ ]:
# int
# float
# str
# list
# tuple
             # 0        1        2         3
             # -4      -3       -2        -1
list_names = [
    "Juan",
    "Pedro",
    "Maria",
    "Ana",
    ]

In [8]:
list_names[0]

'Juan'

In [4]:
list_names[2]

'Maria'

In [5]:
# slice de listas
# [start:stop:step]
list_names[:2]

['Juan', 'Pedro']

In [6]:
list_names[1:3]

['Pedro', 'Maria']

In [10]:
# list methods
# append
list_names.append("Carlos")

In [11]:
list_names

['Juan', 'Pedro', 'Maria', 'Ana', 'Carlos']

In [12]:
list_names.pop(0)

'Juan'

In [13]:
list_names

['Pedro', 'Maria', 'Ana', 'Carlos']

In [14]:
# longitud de una lista
len(list_names)

4

In [ ]:
# ciclos for
for name in list_names:
    print(name)

Pedro
Maria
Ana
Carlos

In [ ]:
# ciclos for
for name in list_names:
    # buscar el nombre ana en la lista en minúsculas
    if name.lower() == "ana":
        print("Ana está en la lista")
        break

Ana está en la lista

In [ ]:
# diccionarios
# key : value
dict_names = {
    "name": "Juan",
    "last_name": "Perez",
    "age": [25,42,12],
}